.fab-bottom-right {
    position: fixed;
    bottom: 24px;
    right: 24px;
    z-index: 999;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    transition: transform 0.2s ease;
}

    .fab-bottom-right {
        background-color: #E50914;
        color: #ffffff;

    }


.fab-bottom-right:hover {
    transform: scale(1.05);
}

